* {
  margin: 0;
  padding: 0;   
}
header {
  color: white;
  background-color: #083168;
  text-align: center;
  padding: 40px;
  padding-bottom: 1%;
}

#sugerencias {
  
  float: right;
  color: aliceblue;
  background-color: rgb(51, 51, 58);
  padding: 10px 4px;
  border-radius: 8px;
  border: none;
  transition: background-color 0.3s;
}

#sugerencias:hover {
  background-color: red;
  color: black;
}

nav {
  background-color: #9bbcee;
  text-align: left;
  text-decoration: none;
  list-style: none ;
  height: 40px;
}
#fijo {
  position: fixed;
  width: 100%;
  height: 500px;
  z-index: 1000;
}
main {
    margin-top: 50px;
}
ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
ul li a:hover {
  color: #054bb6;
  list-style: none ;
}

ul {
  display: flex;
  gap: 20px;
  justify-content: right;
  text-decoration: none;
  list-style: none ;    /*para quitar el punto del navegador o lista*/
  text-align: center;
  align-items: center;
  
}

.imagen {
  background-color: aqua;
  width: 400px;
  height: 200px;
  margin-top: 20px;
}

footer {
  background-color: #083168;
  text-align: center;
  color: white;
}
address {
  font-style: normal;
  text-align: center;
}
aside {
  background-color: #e3e3e3;
  padding: 10px;
  margin: 10px 0;
  font-style: italic;
  text-align: left;
}
.articulo1 {
  text-align: center;
  display: flex;
  gap: 20px;    
}

.articulo2 {
  padding: 15px;
  text-align: center;
    display: flex;
    gap: 20px  ;
}
img {
  width: 400px;
  height: 200px;
  justify-content: left;
}
.titulo1 {
  color: #083168;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}
.titulo2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
}
.parrafo1 {
  margin-top: 65px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}
.javaScript {
  color: #083168;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
}.logo {
  width: 50px;
  height: 40px;
  object-fit: cover;
  margin-right: 840px;
}
.titulo3 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  color: #083168;
  padding: 0 10px;
}
.parrafo2 {
  text-align: right;
  margin-top: 20px;
  padding: 0 10px;
  justify-content: left;
  font-family: Arial, Helvetica, sans-serif;
}
